{% render 'partials/head.liquid' %}

<main>
<article class="container">
  <header class="banner">
    <h1>{{ person.name }}</h1> 
  </header>

  <img id="profile-pic" src="assets/LM-11.jpg">
    
  <details>
    <summary>What's This?</summary>

    <ul>
        <li> 
          
           <label> <input type="radio" name="selection" value="show"/>Show I'm Watching </label> 

           <label> <input type="radio" name="selection" value="game"/>Game I have beeen playing </label> 

           <label> <input type="radio" name="selection" value="movie"/>Last movie I've watched </label> 
         
          </li>
    </ul>

  </details>
</article>
</main>



<article>
  <header>
  </header>
  <footer></footer>
</article>



{% render 'partials/foot.liquid' %}
