{% render 'partials/head.liquid' %}


<article class="container">
  <header class="banner">
    <h1>{{ person.name }}</h1> 
  </header>

  <img src="assets/DSC03369-Enhanced-NR.jpg">
    
  <p>
    <h2> I'm better than Jon Jones. </h2>
    <h2> I'm better than Sean Combs. </h2>  
    <h2> I am even better than John Holmes.</h2>
  </p>
</article>


<article>
  <header>
    <h1>Hallo</h1>
    <p>mijn naam is</p>
  </header>

  <p>{{ person.name }}</p>

  <footer></footer>
</article>



{% render 'partials/foot.liquid' %}
